################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Voter/.vs
/Voter/packages
/Voter/Voter.Core/bin
/Voter/Voter.Core/obj
/Voter/Voter.Web/App_Data/Voter.log
/Voter/Voter.Web/bin
/Voter/Voter.Web/obj
/Voter/Voter.Web/Properties/PublishProfiles/FolderProfile.pubxml.user
/Voter/Voter.Web/Voter.Web.csproj.user
/Db/Voter.pwgen
*.log
/Voter/Voter.Web03/bin
/Voter/Voter.Web03/obj/Debug
*.user
/Voter/Voter.Web02/bin
/Voter/Voter.Web02/obj/Debug
/Voter/Voter.Web01/bin
/Voter/Voter.Web01/obj/Debug
